.dart_tool/
.firebase/
.packages
.pub/
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.metadata
**/ios/Flutter/.last_build_id
**/ios/Flutter/ephemeral/
**/android/.gradle/
**/android/app/debug/
**/android/app/profile/
**/android/app/release/
**/android/local.properties
**/android/key.properties
**/android/.cxx/
**/android/app/.cxx/
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/ephemeral/
**/macos/Pods/
**/macos/Flutter/ephemeral/
*.iml
.idea/
.vscode/
*.log
